for your take your API_KEY access https://developers.themoviedb.org/3/getting-started/introduction

VITE_API_KEY= \* Put your key here *\
VITE_API=https://api.themoviedb.org/3/movie/
VITE_SEARCH=https://api.themoviedb.org/3/search/movie/
VITE_IMG=https://image.tmdb.org/t/p/w500/