.container {
   display: flex;
   width: 700px;
   margin: 0 auto;
   height: 400px;
   align-items: center;
   padding: 2rem;
   border-radius: 1rem;
   background-color: rgba(0, 0, 0, 0.315);
}

.container h1 svg {
   font-size: 20rem;
}

.container p {
   max-height: 80%;
   font-size: 3rem;
   width: 100%;
   font-weight: bold;
   text-align: center;
}